html { 
  background: url(../../../public/fundo.png) no-repeat center center fixed; 
  background-color: #003399;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}